table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width:70%;
}

tbody {
    display:block;
    max-height:600px;
    overflow-y:scroll;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

.image_column {
    width: 90px;
}

.image_header {
    width: 0px;
}

.anime_img {
    height: 70px;
}

.info_click {
    font-size: 12px;
}